<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Currency Rates</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="navbar-brand" th:href="@{/currencyHistory}">Currency history</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" th:href="@{/currencyCalculator}">Currency calculator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </li>
        </ul>
    </div>
</nav>
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Currency calculator</h1>
    </div>
</header>
<section id="options">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <form action="#" th:action="@{/currencyCalculator}" th:object="${userInput}" method="post">
                    <div class="form-row">
                        <div class="row">
                            <label for="currencyList">Currency</label>
                            <div class="col-sm-6">
                                <select class="form-select" id="currencyList" aria-label="Default select example"
                                        name="currencyList" th:field="*{currency}">
                                    <option th:each="currency: ${currencyList}" th:value="${currency.getCcy()}"
                                            th:text="${currency.getCcy()} + ' - ' + ${currency.getCcyNm()}"></option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="currencyValue" placeholder="Eur"
                                       name="currencyValue" th:field="*{currencyValue}">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">Calculate</button>
                            </div>
                        </div>
                        <div class="row">
                            <h4 th:text="${result} + ' Eur'"></h4>
                        </div>
                        <div class="row">
                            <h4 th:text="'Currency rate ' + ${userInputInformation.getCurrencyRate()}"></h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Tomas Januskevic 2021</p></div>
</footer>
<script src="js/scripts.js"></script>
</body>
</html>
